*~
*.pyc
.tstamp*
*.gmo

/po/POTFILES
/po/.*
/po/stamp-it

Makefile
Makefile.in*
/m4/
/build/
/autom4te.cache/
/aclocal.m4
/install-sh
/configure
/config.log
/config.guess
/config.status
/config.rpath
/config.sub
/missing
/ltmain.sh
/intltool-merge.in
/intltool-extract.in
/intltool-update.in

/man/virt-manager.1
/virt-manager.spec
/src/virt-manager
/src/virt-manager.py
/src/virt-manager.schemas
/src/virt-manager-launch
/src/virt-manager.service
/src/virt-manager-tui
/src/virt-manager-tui.py
/src/virt-manager.desktop
