*~
*.pyc
*.gmo

/build
/dist
po/virt-manager.pot

/.coverage
/MANIFEST

/data/gschemas.compiled

/man/virt-manager.1
/man/virt-install.1
/man/virt-clone.1
/man/virt-convert.1
/man/virt-xml.1

/virt-manager.spec
/virtcli/cli.cfg
