*~
*.pyc
*.gmo

/build
/dist
po/virt-manager.pot

virt-clonec
virt-convertc
virt-imagec
virt-installc

/.coverage
/MANIFEST

/man/virt-manager.1
/man/virt-install.1
/man/virt-clone.1
/man/virt-image.1
/man/virt-convert.1
/man/virt-image.5

/virtcli/cli.cfg
