name: Test on fedora:latest

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  # Test on fedora:latest with stock distro packages
  test:
    runs-on: ubuntu-latest
    container:
      image: fedora:latest

    steps:
    - name: Install base RPM packages
      run: |
        # glibc-langpacks-en needed to work around python locale issues
        # git-core needed for codecov/codecov-action
        dnf install -y \
          git-core \
          rpm-build \
          dnf-plugins-core \
          glibc-langpack-en \
          python3-pytest python3-pytest-cov \
          acl

    - uses: actions/checkout@v6

    - name: Install RPM build deps
      run: |
        dnf install -y \
          gettext \
          gobject-introspection \
          python3-devel \
          python3-docutils \
          meson

    - name: Build RPM and test install
      run: |
        git config --global --add safe.directory $PWD

        meson setup build \
          -Dupdate-icon-cache=false \
          -Dcompile-schemas=false \
          -Dtests=disabled
        meson dist -C build
        rpmbuild -tb build/meson-dist/virt-manager*.tar.xz
        dnf install -y \
          ~/rpmbuild/RPMS/noarch/virt-install*.rpm \
          ~/rpmbuild/RPMS/noarch/virt-manager-common*.rpm

    - name: Run test suite and generate coverage report
      run: |
        pytest --cov --cov-report=xml
        coverage report -m

    - name: Install additional RPM packages for pylint
      run: |
        dnf --setopt install_weak_deps=False install -y \
          ~/rpmbuild/RPMS/noarch/virt-manager*.rpm
        dnf --setopt install_weak_deps=False install -y \
          python3-pylint \
          gtksourceview4 \
          python3-dogtail \
          python3-pyatspi

    - name: Run pylint
      run: |
        pylint-3 tests virtinst virtManager

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
